body
{
	background-color:#B31B1B;
	color:white;
	padding:0;
	margin:0;
}

#toolbar
{
	top:0;
	left:0;
	width:100%;
	background-color:  #436060;
	margin:0;
	height: 5vh;
	color:white;
}

.toolbar-butt
{
	height:100%;
	width: 25%;
	background-color: #436060;
	color:white;
	border:none;
	margin:none;
	display:inline-block;
}

.toolbar-butt:hover
{
	cursor:pointer;
	background-color:grey;
}
