<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<link rel="stylesheet" type="text/css" href="/css/toolbar.css" />
<link rel="stylesheet" type="text/css" href="/css/home.css" />
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
</head>
<body>
	<div id = "toolbar">
		<a href="/"><button class = "toolbar-butt"><p>Home</p></button></a><a href="/account"><button class = "toolbar-butt"><p>Account</p></button></a><a href="/account"><button class = "toolbar-butt"><p>About Us</p></button></a><a href="/account"><button class = "toolbar-butt"><p>Search</p></button></a>
	</div>
	
	<div th:if="${loggedIn}" th:object="${currentUser}">
		<p th:text="*{'Name: ' + name}"/>
		<p th:text="*{'Username: ' + username}"/>
		<p th:text="*{'Email: ' + email}"/>
		<p th:text="*{'Age: ' + age}"/>
		<p th:text="*{'Gender: ' + gender}"/>
		<p th:text="*{'Weight: ' + weight}"/>
		<p>Height</p>
		<p>Body Fat %</p>
		<p>Lean Weight</p>
		<p>Fat Weight</p>
		<p>BMI</p>
		<p>Max Heart Rate</p>
		<p>Basal Metabolic Rate</p>
		<p>Resting Heart Rate</p>
		<p>Mile Time</p>
		<p># of Pushups in One Minute</p>
		<p># of Situps in One Minutes</p>
		<p>Waist Hip Ratio</p>
		<p>Smoking Frequency</p>
		<p>Drinking Frequency</p>
		<p>Gym Days Per Week</p>
		<p>Exercise Days Per Week</p>
		<p>Non-Gym Location Preferences</p>
		<p>Equipment</p>
		<p>Intensity</p>
		<p>Motivation</p>
		<p>Determination Level</p>
		<p>Time Spent Per Routine</p>
		<p>Experience Level</p>
		<p>Injuries</p>
		<p>Goal</p>
	</div>
	
	<form th:unless="${loggedIn}" class = "user-info" action = "#" th:action = "@{/}" th:object="${user}" method = "post">
		<p>Name</p>
		<input type="text" th:field="*{name}"/>
		<p>User Name</p>
		<input type="text" th:field="*{username}"/>
		<p>Email</p>
		<input type="text" th:field="*{email}"/>
		<p>Password</p>
		<input type="text" th:field="*{password}"/>
		<p>Age</p>
		<input type="number" th:field="*{age}"/>
		<p>Gender</p>
		<select th:field="*{gender}">
			<option value = "0">Male</option>
			<option value = "1">Female</option>
		</select>
		<p>Weight</p>
		<input type="number" th:field="*{weight}"/>
		<p>Height</p>
		<input type="number" th:field="*{height}"/>
		<p>Body Fat %</p>
		<input type="number" th:field="*{bodyfat}"/>
		<p>Resting Heart Rate</p>
		<input type="number" th:field="*{restingheart}"/>
		<p>Mile Time</p>
		<input type="number" th:field="*{miletime}"/>
		<p># of Pushups in One Minute</p>
		<input type="number" th:field="*{pushups}"/>
		<p># of Situps in One Minutes</p>
		<input type="number" th:field="*{situps}"/>
		<p>Waist Hip Ratio</p>
		<input type="number" th:field="*{waisthip}"/>
		<p>Smoking Frequency</p>
		<select th:field="*{smoking}">
			<option value = "0">Low</option>
			<option value = "1">Medium</option>
			<option value = "2">High</option>
		</select>
		<p>Drinking Frequency</p>
		<select th:field="*{drinking}">
			<option value = "0">Low</option>
			<option value = "1">Medium</option>
			<option value = "2">High</option>
		</select>
		<!-- <p>Frequented Locations</p>
		<select th:field="*{nongymloc}">
			<option value = "0">Low</option>
			<option value = "1">Medium</option>
			<option value = "2">High</option>
		</select> -->
		<p>Gym Days Per Week</p>
		<select th:field="*{gymdays}">
			<option value = "0">Low</option>
			<option value = "1">Medium</option>
			<option value = "2">High</option>
		</select>
		<p>Exercise Days Per Week</p>
		<select th:field="*{exercisedays}">
			<option value = "0">Low</option>
			<option value = "1">Medium</option>
			<option value = "2">High</option>
		</select>
		<p>Non-Gym Location Preferences</p>
		<select th:field="*{nongymloc}">
			<option value = "0">Low</option>
			<option value = "1">Medium</option>
			<option value = "2">High</option>
		</select>
		<p>Equipment</p>
		<select th:field="*{equipment}">
			<option value = "0">Low</option>
			<option value = "1">Medium</option>
			<option value = "2">High</option>
		</select>
		<p>Intensity</p>
		<select th:field="*{intensity}">
			<option value = "0">Low</option>
			<option value = "1">Medium</option>
			<option value = "2">High</option>
		</select>
		<p>Motivation</p>
		<select th:field="*{motivation}">
			<option value = "0">Low</option>
			<option value = "1">Medium</option>
			<option value = "2">High</option>
		</select>
		<p>Determination Level</p>
		<select th:field="*{determination}">
			<option value = "0">Low</option>
			<option value = "1">Medium</option>
			<option value = "2">High</option>
		</select>
		<p>Time Spent Per Routine</p>
		<select th:field="*{timeperroutine}">
			<option value = "0">Low</option>
			<option value = "1">Medium</option>
			<option value = "2">High</option>
		</select>
		<p>Experience Level</p>
		<select th:field="*{experience}">
			<option value = "0">Low</option>
			<option value = "1">Medium</option>
			<option value = "2">High</option>
		</select>
		<p>Injuries</p>
		<select th:field="*{injuries}">
			<option value = "0">Low</option>
			<option value = "1">Medium</option>
			<option value = "2">High</option>
		</select>
		<p>Goal</p>
		<select th:field="*{goal}">
			<option value = "0">Low</option>
			<option value = "1">Medium</option>
			<option value = "2">High</option>
		</select>
		<button class = "submit_button" value = "Submit"> Submit! </button>
	</form>

</body>
</html>